<%- include('header') %>
    
    <h1 align="center">Unit Converter</h1>

    <form>
        <div class="form-group">
            <input type="radio" name="rOpcao" id="rMilhas" checked>
            <label for="rMilhas">Distance in Miles</label>
            <input type="email" class="form-control" id="milhas" placeholder="Milhas">
        </div>
        <div class="form-group">
            <input type="radio" name="rOpcao" id="rMetros">
            <label for="rMetros">Distance in Meters</label>
            <input type="email" class="form-control" id="metros" placeholder="Metros" readonly>
        </div>

        <input type="button" id="calc" value=" Convert">
    </form>


<%- include('footer') %>